/* your beautiful css styling goes here! */
text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.asteroid{
  background-image: url('asteroid.png');
}

/*@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(270deg);
  }
}*/

/*.update {
  animation-duration: 3s;
  animation-name: spin;
  animation-iteration-count: infinite;
}*/
 .update {
     -webkit-animation: myfirst 2.5s;
     animation: myfirst 2.5s;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     animation-delay: 0s;
     border-radius: 0px;
 }

 @-webkit-keyframes myfirst {
     0%   {-webkit-transform: rotate(0deg);}
     100%  {-webkit-transform: rotate(360deg);}
 }

 Standard syntax 
 @keyframes myfirst {
     0%   {-webkit-transform: rotate(0deg);}
     100%  {-webkit-transform: rotate(360deg);}
 }

